In [25]:
! git clone https://github.com/DS3001/group10/

fatal: destination path 'group10' already exists and is not an empty directory.

In [26]:
import pandas as pd
import numpy as np
df_train = pd.read_csv('./data/training_data.csv')
df_test = pd.read_csv('./data/testing_data.csv')

In [27]:
y_train = df_train['stroke']
X_train = df_train.drop(columns = ['stroke', 'Unnamed: 0', 'id'],axis=1)
y_test = df_test['stroke']
X_test = df_test.drop(columns = ['stroke', 'Unnamed: 0', 'id'],axis=1)

In [28]:
X_train['bmi'] = X_train['bmi'].fillna(X_train['bmi'].mean())
X_test['bmi'] = X_test['bmi'].fillna(X_test['bmi'].mean())

In [29]:
df_train

,Unnamed: 0,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,2465,68685,Male,36.0,0,0,Yes,Govt_job,Urban,65.87,32.2,formerly smoked,0
1,4311,59058,Female,45.0,0,0,Yes,Govt_job,Rural,68.66,25.3,never smoked,0
2,2375,46068,Male,58.0,0,0,No,Self-employed,Rural,170.93,30.7,Unknown,0
3,5017,36837,Female,61.0,0,0,Yes,Self-employed,Urban,69.88,27.1,never smoked,0
4,753,30550,Female,78.0,0,0,No,Private,Urban,103.86,30.6,Unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4082,110,59125,Female,53.0,0,0,Yes,Govt_job,Urban,64.17,41.5,never smoked,1
4083,139,29281,Male,76.0,1,0,Yes,Self-employed,Rural,194.37,27.0,formerly smoked,1
4084,207,37060,Female,81.0,0,0,Yes,Private,Rural,80.13,23.4,never smoked,1
4085,218,29552,Female,55.0,1,1,Yes,Private,Urban,210.40,40.0,smokes,1
4086,89,14499,Male,47.0,0,0,Yes,Private,Urban,86.94,41.1,formerly smoked,1

In [30]:
# I used the same mapping as Olivia and Autumn, so we could combine models later
X_train['ever_married'] = X_train['ever_married'].replace({"No":0, "Yes":1})
X_test['ever_married'] = X_test['ever_married'].replace({"No":0, "Yes":1})

X_train['gender'] = X_train['gender'].replace({"Male":0, "Female":1, "Other":2})
X_test['gender'] = X_test['gender'].replace({"Male":0, "Female":1, "Other":2})

X_train['smoking_status'] = X_train['smoking_status'].replace({"never smoked":0, "formerly smoked":1, "smokes":2, 
                                                          "Unknown":3})
X_test['smoking_status'] = X_test['smoking_status'].replace({"never smoked":0, "formerly smoked":1, "smokes":2, 
                                                          "Unknown":3})

X_train['Residence_type'] = X_train['Residence_type'].replace({"Urban":0, "Rural":1})
X_test['Residence_type'] = X_test['Residence_type'].replace({"Urban":0, "Rural":1})

In [31]:
# added a work_type mapping
X_train["work_type"].value_counts()

Private          2329
Self-employed     667
children          542
Govt_job          534
Never_worked       15
Name: work_type, dtype: int64

In [32]:
X_train['work_type'] = X_train['work_type'].replace({"Private":0, "Self-employed":1, "children":2, 
                                                          "Govt_job":3, "Never_worked":4})
X_test['work_type'] = X_test['work_type'].replace({"Private":0, "Self-employed":1, "children":2, 
                                                          "Govt_job":3, "Never_worked":4})

In [33]:
X_train

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,0,36.0,0,0,1,3,0,65.87,32.2,1
1,1,45.0,0,0,1,3,1,68.66,25.3,0
2,0,58.0,0,0,0,1,1,170.93,30.7,3
3,1,61.0,0,0,1,1,0,69.88,27.1,0
4,1,78.0,0,0,0,0,0,103.86,30.6,3
...,...,...,...,...,...,...,...,...,...,...
4082,1,53.0,0,0,1,3,0,64.17,41.5,0
4083,0,76.0,1,0,1,1,1,194.37,27.0,1
4084,1,81.0,0,0,1,0,1,80.13,23.4,0
4085,1,55.0,1,1,1,0,0,210.40,40.0,2
4086,0,47.0,0,0,1,0,0,86.94,41.1,1

In [ ]:
# Now with all the data in numerical format, I see that avg_gluclose_level is sometimes over 100 so compared to the other 
# variables. However, I think it is the most important variable, so I will build two models, one with this data and another
# using the inver hyperbolic sine og avg_glucose_level

In [34]:
from sklearn.linear_model import LinearRegression 
from sklearn.preprocessing import PolynomialFeatures

In [40]:
reg = LinearRegression().fit(X_train, y_train) # Fit the linear model
print("Coefficents", reg.coef_)
print('R2: ', reg.score(X_test, y_test)) # R squared measure
y_hat = reg.predict(X_test)
N = len(y_test)
print('RMSE: ', (np.sum( (y_test - y_hat)**2)/N )**.5 )

Coefficents [-2.05597732e-03  2.62070385e-03  4.45081307e-02  5.67917149e-02
 -4.19604511e-02 -9.09264747e-05 -3.40067477e-03  3.47292222e-04
 -1.12832659e-03  4.82582162e-03]
R2:  0.0775207651581602
RMSE:  0.20708282838322994

In [44]:
# based on those results I am going to build a model with only the postive coefficents
next_train = X_train.drop(columns = ["gender","ever_married", "work_type", "Residence_type", "bmi"])
next_test = X_test.drop(columns = ["gender","ever_married", "work_type", "Residence_type", "bmi"])

In [45]:
reg = LinearRegression().fit(next_train, y_train) # Fit the linear model
print("Coefficents", reg.coef_)
print('R2: ', reg.score(next_test, y_test)) # R squared measure
y_hat = reg.predict(next_test)
N = len(y_test)
print('RMSE: ', (np.sum( (y_test - y_hat)**2)/N )**.5 )
# this did not work, so I will do some variable expansion

Coefficents [-0.00368468  0.00273916  0.05006644  0.06347152 -0.04286264 -0.00345809
 -0.00092043  0.00491102]
R2:  0.07528588995621244
RMSE:  0.2073335247091733

In [51]:
X_train['avg_glucose_level_ihs'] = np.arcsinh(X_train['avg_glucose_level'])
X_test['avg_glucose_level_ihs'] = np.arcsinh(X_test['avg_glucose_level'])

In [53]:
X_ihs_train = X_train.drop(columns = ["avg_glucose_level"])
X_ihs_test = X_test.drop(columns = ["avg_glucose_level"])

In [55]:
reg = LinearRegression().fit(X_train, y_train) # Fit the linear model
print("Coefficents", reg.coef_)
print('R2: ', reg.score(X_test, y_test)) # R squared measure
y_hat = reg.predict(X_test)
N = len(y_test)
print('RMSE: ', (np.sum( (y_test - y_hat)**2)/N )**.5 )

Coefficents [-0.00202842  0.00259318  0.04368867  0.0557819  -0.04165559 -0.00017569
 -0.00333622  0.00096136 -0.0011681   0.0048353  -0.07761684]
R2:  0.07867276668326095
RMSE:  0.20695348440961608

In [142]:
X_train_numeric = X_train.loc[:,['age','hypertension','heart_disease','avg_glucose_level','avg_glucose_level_ihs', 'smoking_status'] ]

expander = PolynomialFeatures(degree=1,include_bias=False) # Create the expander
Z = expander.fit_transform(X_train_numeric) # Pass the df into the expander to get powers/interactions of x and y
continuous = pd.DataFrame(data=Z) # Create a new, expanded dataframe

dummies = pd.concat([ pd.get_dummies(X_train['work_type'],dtype='int',drop_first=True),
                      pd.get_dummies(X_train['Residence_type'],dtype='int',drop_first=True),
                      #pd.get_dummies(X_train['smoking_status'],dtype='int',drop_first=True),
                    pd.get_dummies(X_train['ever_married'],dtype='int',drop_first=True)],axis=1)

X_expanded_train = pd.concat([continuous,dummies],axis=1)

In [143]:
X_test_numeric = X_test.loc[:,['age','hypertension','heart_disease','avg_glucose_level',
                               'avg_glucose_level_ihs', 'smoking_status'] ]

expander = PolynomialFeatures(degree=1,include_bias=False) # Create the expander
Z = expander.fit_transform(X_test_numeric) # Pass the df into the expander to get powers/interactions of x and y
continuous = pd.DataFrame(data=Z) # Create a new, expanded dataframe

dummies = pd.concat([ pd.get_dummies(X_test['work_type'],dtype='int',drop_first=True),
                      pd.get_dummies(X_test['Residence_type'],dtype='int',drop_first=True),
                      #pd.get_dummies(X_test['smoking_status'],dtype='int',drop_first=True),
                    pd.get_dummies(X_test['ever_married'],dtype='int',drop_first=True)],axis=1)

X_expanded_test = pd.concat([continuous,dummies],axis=1)

In [144]:
reg = LinearRegression().fit(X_expanded_train, y_train) # Fit the linear model
print("Coefficents", reg.coef_)
print('R2: ', reg.score(X_expanded_test, y_test)) # R squared measure
y_hat = reg.predict(X_expanded_test)
N = len(y_test)
print('RMSE: ', (np.sum( (y_test - y_hat)**2)/N )**.5 )

Coefficents [ 0.00305239  0.03885427  0.05356685  0.00085512 -0.0688433   0.00240739
 -0.02186638  0.05050962 -0.01137722  0.02031757 -0.00316517 -0.03875827]
R2:  0.08288385661886755
RMSE:  0.2064799838865368